* {
    box-sizing: border-box;
}

#changingPhotoWindow {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: calc(100vh + 10px);
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

#changingPhotoWindow.changing {
    animation: wievChangingPhotoWindow .5s ease 0s 1;
}

#changingPhotoWindow > div {
    cursor: default;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    height: 80%;
    margin: 10vh auto 10vh;
    padding: 15px;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 30px;
    grid-gap: 10px;
}

#photo {
    margin: 10px;
    border-radius: 5px;
    border: 2px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo label > div {
    display: inline-block;
    padding: 20px;
    color: grey;
    font-size: 100px;
    transition: all 0.5s ease;
}

#photo label > div:hover {
    color: black;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

 
.avatar {
    max-height: calc(70vh - 30px - 20px - 4px);
    min-width: 70%;
    max-width: 100%;

}
@media (max-aspect-ratio: 1/1) {
    .avatar {
        width: 80%;
        height: auto;
    }
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
#buttons * {
    width: 47%;
}

#choosePhoto {
    display: none;
}

@keyframes wievChangingPhotoWindow {
    0% {
        display: none;
        top: -10px;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0.01;
    }
    100% {
        opacity: 1;
    }
}